Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@ArizonaMangoJuice 
ArizonaMangoJuice
/
insure-landing
1
0
0
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
insure-landing/.gitignore
@ArizonaMangoJuice
ArizonaMangoJuice first commit
Latest commit 6f666fe 5 days ago
 History
 1 contributor
37 lines (30 sloc)  760 Bytes
  
# Avoid accidental Sketch file upload 
###############################################
## Please do not remove line 5 - thanks! 🙂 ##
###############################################
*.sketch

# Avoid accidental XD or Figma upload if you convert the design file
#######################################################
## Please do not remove lines 11 and 12 - thanks! 🙂 ##
#######################################################
*.xd
*.fig

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
