.info-container{
    /* background-color: wheat; */
    padding-top: 30vh;
    
}

.inner-info-container{
    width: 101vh;
    margin: auto;
}

.reasons{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 7vh;
}

.image-background{
    height: 8vh;
}

.reason{
    padding: 1vh 1.5vh 1vh 1vh;
}

.reason-title{
    font-size: 2.3vh;
    letter-spacing: .1vh;
    font-weight: 600;
}

.reason-p{
    font-size: 1.4vh;
}