body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  background-color: var(--very-light-gray);
}

.heading-font{
  font-family: 'DM Serif Display', serif;
}

:root{
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

.line{
  border-bottom: .1vw solid var(--very-light-gray);
  display: block;
  width: 8vw;
  margin-top: -5vh;
  margin-bottom: 4vh;
}

.dark-violet-line{
  border-bottom: .1vw solid var(--dark-violet) !important;
}

.white-button{
  border: .1vw solid var(--very-light-gray);
  color: var(--very-light-gray);
  font-size: 1.8vh;
  padding: .4vw 1.5vw;
  text-decoration: none;
  display: inline-block;
  margin-top: .5vh;
}

.very-dark-violet{
  color: hsl(270, 9%, 17%) !important;
}

.dark-violet{
  color: hsl(256, 26%, 20%) !important;
}